<section class="container centered">
    <div class="about">
      {{ $avatar := resources.Get "avatar.jpg" }}
      <div class="avatar"><img src="{{ ($avatar.Resize "400x400 webp").RelPermalink }}" alt="avatar"></div>
      <h1>{{ .Site.Params.author }}</h1>
      {{ if reflect.IsSlice .Site.Params.info }}
      <h2>{{ range .Site.Params.info }}{{.}}<br>{{ end}}</h2>
      {{ else }}
      <h2>{{ .Site.Params.info }}</h2>
      {{ end }}
      <p>
        I help technology teams.
        I <a href="/projects">code</a> (when it creates value).
        I <a href="/tags/diy">make things</a>, preferrably out of nice wood. <br />
        Occasionally I'll <a href="/posts">write</a> about the weird and wonderful ways of building software.
      </p>
      {{ with .Site.Params.social }}
      <ul>
        {{ range sort . "weight" }}
          {{ if .icon }}
            <li>
              <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
                <i class="{{ .icon }}" aria-hidden="true"></i>
              </a>
            </li>
          {{ else }}
            <li>
              <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </section>  
  